<script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyAgHzUC7FG3rCOv5etgJyr93FEWQ2zEHdU",
        authDomain: "solarflux-dashboard.firebaseapp.com",
        projectId: "solarflux-dashboard",
        storageBucket: "solarflux-dashboard.appspot.com",
        messagingSenderId: "672942058802",
        appId: "1:672942058802:web:ea6c83221082a7e217fb2b"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="/js/auth.js"></script>
