<nav id="nav" class="hidden nav md:flex">

    <ul class="flex flex-col items-center text-base menu md:flex-row list-reset">

        {% for item in navigation.main %}

        <li class="mb-4 level-1 md:mr-4 md:mb-0">

            <a href="{{ item.url | safe }}" class="link font-bold font-display text-primaryPurple uppercase hover:text-pink-500 active:text-pink-500 {% if page.url == item.url %}active text-pink-500{% endif %}
            "{% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.label }}</a>

        </li>

        {% endfor %}

    </ul>

</nav>
