<header class="absolute top-0 w-screen p-4 mx-auto z-max header md:flex-row md:justify-between md:p-6" role="banner">
	<div class="container flex items-center justify-between mx-auto">
		{% include "components/logo.njk" %}
		{% include 'components/nav.njk' %}
	</div>
</header>