//==========  Globals ==========//

html {
  background: #dfe3e8;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  max-width: 1680px;
  margin: 0 auto;
  background-color: #fff;
}

.max-w-screen-body {
  max-width: 1680px;
}

.article-hero {
  margin-bottom: 48px;
  position: relative;
  @media (min-width: 1024px) {
    margin-bottom: 92px;
  }
  h1 {
    position: absolute;
    left: calc(50% - 600px);
    top: 40%;
    font-size: 48px;
    color: #fff;
  }
}