//==========  Links ==========//

a {
    @apply text-primaryPurple no-underline transition-all duration-300 ease-out;

    &:not([class]) {
        border-bottom-width: 2px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.category-updates {
    a {
      color: #8F5C1E;
      background-color: #F6B160;
    }
  }
  
  .category-news {
    a {
      color: #221E8F;
      background-color: #6560F6;
    }
  }
  
  .category-learning {
    a {
      color: #8F331E;
      background-color: #F67C60;
    }
  }