//==========  Utility classes ==========//

// subtle 'fade in' to the lazyloaded image
[data-lazy] {
    @apply opacity-0 w-full;
    transition: opacity 0.25s ease-in;
    min-height: 120px;
}

.loaded {
    @apply opacity-100;
}

.rounded-bg {
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    @media (min-width: 1024px) {
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
    }
}

.rounded-top-left {
    border-top-left-radius: 100px;
    @media (min-width: 1024px) {
        border-top-left-radius: 200px;
    }
}

.z-max {
    z-index: 100000;
}