.posts {
  .category-updates {
    a {
      color: #1E40AF;
      background-color: #BFDBFE;
    }
  }

  .category-news {
    a {
      color: #3730A3;
      background-color: #C7D2FE;
    }
  }

  .category-learning {
    a {
      color: #92400E;
      background-color: #FDE68A;
    }
  }
}
