.homepage--hero {
  background: url('/images/homepage/hero.jpg') no-repeat bottom;
  background-size: cover;
}

.homepage--callout {
  background: url('/images/homepage/homepage-callout.jpg') no-repeat bottom;
  background-size: cover;
}