.comparison-table {
  @media (min-width: 1280px) {
    &::after {
      content: '';
      position: absolute;
      width: 200px;
      height: 100%;
      top: 0;
      left: calc(50% - 360px);
      background: hsla(33, 93%, 54%, .05);
      border: 2px solid #F7941D;
      border-radius: 30px;
    }
  }
}

.category-updates {
  a {
    color: #8F5C1E;
    background-color: #F6B160;
  }
}

.category-news {
  a {
    color: #221E8F;
    background-color: #6560F6;
  }
}

.category-learning {
  a {
    color: #8F331E;
    background-color: #F67C60;
  }
}