---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About Solarflux
---

<main>
  <section class="mb-12 lg:mb-32 article-hero">
		<h1>{{ title }}</h1>
		<img src="/images/about/about-hero.jpg" alt="FOCUS 250 Concentrator Unit">
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-12 lg:mb-32 sm:px-6 lg:px-8">
		<div class="flex flex-col lg:grid lg:gap-8 lg:grid-cols-2">
			<div class="order-1 lg:order-2">
				<img src="/images/about/who-we-are.jpg" alt="Assembling a FOCUS 250 Concentrator Unit" class="mb-4 ml-auto lg:w-8/12 lg:mb-0 lg:w-10/12">
			</div>
			<div class="order-2 mb-4 lg:order-1 lg:mb-0">
				<h2 class="section-header">About Us</h2>
				<p class="body-copy">Solarflux was founded in 2019 by a team dedicated to developing innovative technologies to help sustainably meet the growing energy demands of modern human civilization. The Solarflux team believes that parabolic dish concentrators offer unique potential to bring clean, inexpensive energy to a wide range of underserved market segments, particularly in regions of the world with an abundance of direct sunlight. By better harnessing the power of our most abundant resource - the Sun - we can more sustainably meet our growing energy needs. Sol omnibus lucet - the sun shines upon us all.</p>
			</div>
		</div>
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-12 lg:mb-32 sm:px-6 lg:px-8">
		<div class="flex flex-col lg:grid lg:gap-8 lg:grid-cols-2">
			<div class="order-2 lg:order-1">
				<img src="/images/about/about-image-2.jpg" alt="Assembling a FOCUS 250 Concentrator Unit" class="mb-4 mr-auto lg:w-8/12 lg:mb-0 lg:w-10/12">
			</div>
			<div class="order-1 mb-4 lg:order-2 lg:mb-0">
				<p class="body-copy">Solarflux’s parabolic dish concentrator technology is the product of extensive research, experimentation, design iteration, and field testing, which continues to this day.</p>
			</div>
		</div>
  </section>
	
  <section class="max-w-6xl px-4 mx-auto mb-12 lg:mb-32 sm:px-6 lg:px-8">
		<div class="flex flex-col lg:grid lg:gap-8 lg:grid-cols-2">
			<div class="order-2 lg:order-2">
				<img src="/images/about/about-image-3.jpg" alt="Assembling a FOCUS 250 Concentrator Unit" class="mb-4 ml-auto lg:w-8/12 lg:mb-0 lg:w-10/12">
			</div>
			<div class="order-1 mb-4 lg:order-1 lg:mb-0">
				<h2 class="section-header">Our Technology</h2>
				<p class="body-copy">The FOCUS 250, our flagship product, represents a significant step forward for parabolic dish concentrator technology. A novel optical design yields unparalleled energy conversion efficiency, while overall system cost has been minimized through the use of low-cost materials, a structurally efficient design optimized for manufacturing at scale, minimal land use requirements, streamlined installation, and low maintenance requirements. The result is a solution that delivers an abundance of clean, inexpensive thermal energy.</p>
			</div>
		</div>
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-12 lg:mb-32 sm:px-6 lg:px-8">
		<div class="flex flex-col lg:grid lg:gap-8 lg:grid-cols-2">
			<div class="order-2 lg:order-1">
				<img src="/images/about/about-image-4.jpg" alt="Assembling a FOCUS 250 Concentrator Unit" class="mb-4 mr-auto lg:w-8/12 lg:mb-0 lg:w-10/12">
			</div>
			<div class="order-1 mb-4 lg:order-2 lg:mb-0">
				<p class="body-copy">Solarflux has partnered with Penn State University and Lehigh University in Pennsylvania, to field test the FOCUS 250 and to conduct research on applications for the concentrator. Solarflux holds several patents in connection with key elements of the FOCUS 250 concentrator design.</p>
			</div>
		</div>
  </section>

	{% include 'components/primary-cta.njk' %}

</main>