---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About Solarflux
---

<main>
  <section class="article-hero">
		<h1>{{ title }}</h1>
		<img src="/images/about/about-hero.jpg" alt="Focus 250 Concentrator Unit">
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-32 sm:px-6 lg:px-8">
		<div class="flex flex-col lg:grid lg:gap-8 lg:grid-cols-2">
			<div>
				<img src="/images/about/who-we-are.jpg" alt="Assembling a Focus 250 Concentrator Unit" class="w-8/12 mb-4 mr-auto lg:mb-0 lg:w-10/12">
			</div>
			<div>
				<h2 class="section-header">Who We Are</h2>
				<p class="mb-5 text-gray-700">Solarflux is a dual axis solar parabolic point concentrator. It is a high yield, low cost solar thermal energy technology solution. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in, accusamus quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in, accusamus quisquam.</p>
				<p class="text-gray-700">Solarflux is a dual axis solar parabolic point concentrator. It is a high yield, low cost solar thermal energy technology solution. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in, accusamus quisquam.</p>
			</div>
		</div>
  </section>
	
  <section class="max-w-6xl px-4 mx-auto mb-32 sm:px-6 lg:px-8">
		<div class="flex flex-col items-center lg:grid lg:gap-8 lg:grid-cols-12">
			<div class="col-span-7">
				<h2 class="section-header">Delivering What Our Customers Want</h2>
				<p class="mb-5 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui eu sagittis aliquet euismod pellentesque tellus tincidunt quisque magna. Consequat pulvinar semper eu sit non. Tortor sed mi scelerisque est, diam iaculis sollicitudin ultrices leo. Dapibus in massa molestie feugiat sed lobortis volutpat praesent at. Et ornare duis vitae diam tellus est. Consequat justo, et dui habitasse blandit. Quis vitae non sed convallis nullam accumsan tristique facilisi duis. Nibh ac faucibus tincidunt netus.</p>
			</div>
			<div class="flex justify-center col-span-5">
				<img src="/images/about/line-chart.svg" alt="Assembling a Focus 250 Concentrator Unit" class="mr-12">
				<div class="mt-8">
					<div class="mb-16">
						<p class="text-4xl font-bold text-primaryOrange font-display">35</p>
						<p class="font-semibold text-gray-700 font-display">Working Units</p>
					</div>
					<div class="mb-16">
						<p class="text-4xl font-bold text-primaryOrange font-display">600°C</p>
						<p class="font-semibold text-gray-700 font-display">Temperature Range</p>
					</div>
					<div>
						<p class="text-4xl font-bold text-primaryOrange font-display">100+</p>
						<p class="font-semibold text-gray-700 font-display">Possible Applications</p>
					</div>
				</div>
			</div>
		</div>
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-12 lg:mb-24 sm:px-6 lg:px-8">
		<div class="flex flex-col items-start lg:items-center lg:grid lg:gap-8 lg:grid-cols-12">
			<div class="col-span-2">
				<img src="/images/about/solarflux-emblem.svg" alt="Solarflux Emblem" class="mb-6 lg:mb-0">
			</div>
			<div class="col-span-9">
				<h2 class="section-header">Company History</h2>
				<p class="mb-5 text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui eu sagittis aliquet euismod pellentesque tellus tincidunt quisque magna. Consequat pulvinar semper eu sit non. Tortor sed mi scelerisque est, diam iaculis sollicitudin ultrices leo. Dapibus in massa molestie feugiat sed lobortis volutpat praesent at. Et ornare duis vitae diam tellus est. Consequat justo, et dui habitasse blandit. Quis vitae non sed convallis nullam accumsan tristique facilisi duis. Nibh ac faucibus tincidunt netus.</p>
			</div>
		</div>
  </section>

	{% include 'components/primary-cta.njk' %}

</main>