---
layout: default
meta_title: Blog
meta_description: Blog page description
body_class: blog
title: The Solarflux Blog
---

<main>
  <section class="max-w-6xl px-4 mx-auto my-16">
    <h1 class="text-5xl">Insights</h1>
  </section>

  <section class="max-w-5xl px-4 mx-auto mt-24 mb-16" aria-label="Blogs">

    <div class="posts">

      {% for post in collections.blog %}

      <article class="grid grid-cols-2 gap-6">

        <a class="relative block overflow-hidden featured-image-link" href="{{ post.url }}">

          <figure>
            <img data-lazy="{{ post.data.featured_image }}" class="block">
          </figure>

        </a>

        <div class="py-6">

          <div class="{{ post.data.category | categoryStyle()}}">
            <a href="/blog/{{ post.data.category | lower }}/" class="px-2 py-1 text-sm no-underline rounded-full">{{ post.data.category }}</a>
          </div>

          <h2 class="mt-3 mb-2 text-xl">
            <a class="block text-2xl font-semibold text-gray-800 hover:text-gray-600" href="{{ post.url }}">{{ post.data.title }}</a>
          </h2>

          <div class="mb-4 text-sm text-gray-600 md:flex">
            <svg class="w-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <defs>
                    <style>
                        .a {
                            fill: none;
                            stroke: currentColor;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            stroke-width: 1.5px;
                        }
                    </style>
                </defs>
                <rect width="22.5" height="19.5" x=".752" y="3.75" class="a" rx="1.5" ry="1.5"/>
                <path d="M.752 9.75h22.5M6.752 6V.75M17.252 6V.75" class="a"/>
            </svg>
            <time datetime="{{ post.date }}">
              {{ post.date | dateDisplay }}
            </time>

          </div>

          <p class="text-lg leading-normal text-gray-800">{{ post.templateContent | renderExcerpt(120)}}</p>

          <div class="flex items-center block mt-8">
            <a href="{{ post.url }}" class="mr-1 leading-none text-primaryPurple hover:underline hover:text-primaryPurpleDark">Continue Reading</a>
            <svg class="w-3" xmlns="http://www.w3.org/2000/svg" id="Regular" viewBox="0 0 24 24">
              <defs>
                <style>
                  .cls-1{fill:none;stroke:#16134C;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;fill-rule:evenodd}
                </style>
              </defs>
              <path d="M12.311.75L23.03 11.47a.749.749 0 010 1.06L12.311 23.25M1.061.75L11.78 11.47a.749.749 0 010 1.06L1.061 23.25" class="cls-1"/>
            </svg>
          </div>

        </div>

      </article>

      {% endfor %}

    </div>

  </section>

</main>