---
layout: clean
meta_title: Dashboard
meta_description: Dashboard for the Flux 250 in PA
body_class: dashboard
title: Dashboard
---

<iframe src="https://quicksight-web-app-thebucket-1lu1onafawl7g.s3.us-east-2.amazonaws.com/index.html" width="100%" height="90vh"></iframe>
