---
layout: default
meta_title: Flexible, clean, inexpensive thermal power
meta_description: Flexible, clean, inexpensive thermal power
body_class: home
title: Flexible, clean, inexpensive thermal power
---
<main>
  <!-- Hero -->
  <section class="relative overflow-hidden homepage--hero">
    <div class="max-w-screen-xl mx-auto ">
      <div class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-3xl lg:w-full lg:pb-28 xl:pb-32 xl:py-32">
        <div class="max-w-screen-xl px-4 pt-48 pb-32 mx-auto lg:pt-64 lg:pb-48">
          <div class="sm:text-center lg:text-left">
            <h1 class="text-white">
              Flexible, clean, inexpensive <br> solar thermal power
            </h1>
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
              <div>
                <a href="/product"
                  class="flex items-center justify-center w-48 py-3 text-base font-semibold leading-6 text-white uppercase transition duration-150 ease-in-out rounded-md shadow-lg lg:w-full bg-primaryPurple font-display hover:bg-primaryPurpleDark hover:border-transparent focus:outline-none focus:shadow-outline md:py-4 md:text-lg md:px-10">
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- Introduction -->
  <section class="px-4 mx-auto mt-16 mb-12 lg:mt-24 lg:mb-20 max-w-7xl sm:px-6 lg:px-8">
    <div class="relative">
      <h3 class="text-center section-header">
        Introducing the FOCUS 250
      </h3>
      <p class="max-w-3xl mx-auto mt-4 text-base font-light leading-7 text-center text-gray-800 lg:text-xl">
        The FOCUS 250 represents an innovative solar parabolic dish concentrator design capable of delivering an abundance of clean, inexpensive thermal energy for a wide range of applications. 
      </p>
    </div>
  </section>
  <!-- Main Features -->
  <section class="overflow-hidden bg-gray-50 homepage--main-features">
    <div class="py-12 lg:py-24">
      <div class="relative mb-12 lg:mb-32 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
        <div class="px-4 lg:pl-24 lg:max-w-3xl">
          <h4 class="capitalize section-header">
            The most efficient solar <br> thermal energy technology
          </h4>
          <p class="mt-3 text-lg leading-7 text-gray-800">
            Utilizing dual-axis tracking, the FOCUS 250 maximizes solar energy capture year-round. As a thermal system, the full spectrum of solar irradiance is captured, and losses resulting from conversion into electricity are avoided. The result is a system delivering approximately 80% conversion of available solar irradiance into thermal energy - far higher than competing technologies. 
          </p>
          <div class="flex items-center mt-6">
            <a href="/product" class="text-sm text-primaryOrange hover:text-primaryOrangeDark lg:text-base">Explore the FOCUS 250’s conversion process</a>
            <svg class="w-3 ml-1" xmlns="http://www.w3.org/2000/svg" id="Regular" viewBox="0 0 24 24">
              <defs>
                <style>
                  .cls-1{fill:none;stroke:#F7941D;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;fill-rule:evenodd}
                </style>
              </defs>
              <path d="M12.311.75L23.03 11.47a.749.749 0 010 1.06L12.311 23.25M1.061.75L11.78 11.47a.749.749 0 010 1.06L1.061 23.25" class="cls-1"/>
            </svg>
          </div>
        </div>

        <div class="relative mt-10 -mx-4 lg:mt-0">
          <img class="ml-auto 2xl:max-w-screen-sm 3xl:max-w-screen-md" src="/images/homepage/conversion-process.jpg" alt="" />
        </div>
      </div>
      <div class="relative">
        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-40 lg:items-start">
          <div class="px-4 lg:pr-24 lg:col-start-2 lg:max-w-3xl">
            <h4 class="capitalize section-header">
              Designed from inception for minimum cost
            </h4>
            <p class="mt-3 text-lg leading-7 text-gray-800">
              The FOCUS 250 has been designed from the ground up to minimize the Levelized Cost of Heat (LCOH) over the lifetime of the system. Built from environmentally resilient low-cost metal components, the FOCUS 250 is manufactured using proven techniques borrowed from the aerospace and automotive industries. Mast-mounted, the FOCUS 250 is highly land-efficient per unit of energy generated. Installation and calibration are streamlined, as the FOCUS 250 requires limited land preparation and utilizes an auto-calibration process. 
            </p>
            <div class="flex items-center mt-6">
              <a href="/products" class="text-primaryOrange hover:text-primaryOrangeDark">Learn about the FOCUS 250 Design Principles</a>
              <svg class="w-3 ml-1" xmlns="http://www.w3.org/2000/svg" id="Regular" viewBox="0 0 24 24">
                <defs>
                  <style>
                    .cls-1{fill:none;stroke:#F7941D;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;fill-rule:evenodd}
                  </style>
                </defs>
                <path d="M12.311.75L23.03 11.47a.749.749 0 010 1.06L12.311 23.25M1.061.75L11.78 11.47a.749.749 0 010 1.06L1.061 23.25" class="cls-1"/>
              </svg>
            </div>
          </div>
          <div class="relative mt-10 -mx-4 lg:mt-0 lg:col-start-1">
            <img class="2xl:max-w-screen-sm 3xl:max-w-screen-md" src="/images/homepage/design-principles.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Diverse Applications -->
  <section class="relative py-8 overflow-hidden lg:py-16 homepage--diverse-applications">
    <div class="relative">
      <div class="relative mt-6 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="relative max-w-3xl px-4 lg:pl-24">
          <h4 class="capitalize section-header">
            Diverse applications
          </h4>
          <p class="mt-3 mb-6 text-lg leading-7 text-gray-800">
            With 50% of global energy consumption in the form of heat, the market for thermal energy is vast. The FOCUS 250 provides a clean, inexpensive source of thermal energy for a wide range of applications, including industrial process heat, space heating and cooling, hot water, water desalination and purification, and remote and distributed power applications. 
          </p>
          <div class="flex items-center">
            <a href="/markets" class="text-primaryOrange hover:text-primaryOrangeDark">Explore all of the FOCUS 250’s applications</a>
            <svg class="w-3 ml-1" xmlns="http://www.w3.org/2000/svg" id="Regular" viewBox="0 0 24 24">
              <defs>
                <style>
                  .cls-1{fill:none;stroke:#F7941D;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;fill-rule:evenodd}
                </style>
              </defs>
              <path d="M12.311.75L23.03 11.47a.749.749 0 010 1.06L12.311 23.25M1.061.75L11.78 11.47a.749.749 0 010 1.06L1.061 23.25" class="cls-1"/>
            </svg>
          </div>
        </div>
        <div class="relative hidden lg:block">
          <img class="absolute" src="/images/homepage/diverse-applications-small.png" alt="Photo of" />
          <img class="relative" src="/images/homepage/diverse-applications-large.png" alt="Photo of" />
        </div>
      </div>
    </div>
  </section>
  <section>
    {% include 'components/form.njk' %}
  </section>
</main>