---
layout: default
meta_title: Product
meta_description: Contact page description
body_class: contact
title: Contact Us
---

<main>
		<section class="article-hero">
				<h1>Market Overview</h1>
				<img src="/images/markets/markets-hero.jpg" alt="Focus 250 in the field">
		</section>
		<section class="max-w-6xl px-4 mx-auto sm:px-6 lg:px-8">
				<h2>Market Overview</h2>
				<h4>The U.S. Energy Information Administration (EIA) projects that global energy consumption will grow nearly 50% from 2018 through 2050.1</h4>
				<p>While developed nations are expected to see further growth, the bulk of the increase is projected to come from emerging Asian nations, driven by rapid population growth, economic growth, and increased access to marketed energy. This outlook presents significant challenges for the global environment and climate, and for the most affected countries in particular, and significant opportunities for market participants with compelling energy solutions to offer.</p>
				<p>Heat is the largest energy end-use, accounting for around half of total energy consumption. Just over half of heat produced is consumed in industry – for example, for process heat, drying and industrial hot water uses. Most of the rest is used for space and water heating and cooking in the commercial and residential sectors. The remainder was used in agriculture. Currently, only about one-tenth of heat is produced from renewables.2</p>
				<p>Solar thermal energy has the potential to play a significant role in meeting future energy demand in a sustainable way. Installed solar thermal heat capacity, including residential, commercial and municipal systems and solar heat for industrial processes, has expanded significantly in the last decade to exceed 480 gigawatts of thermal capacity (GWth) by the end of 2018, nearly as much as installed solar PV capacity.3</p>
				<p>Widely used solutions for solar heating include flat plate collectors, evacuated tube, and parabolic trough systems. These are proven technologies that have been long established in the market. However, there has also been little innovation in the solar thermal energy market.</p>
		</section>
		<!-- Contact Form -->
		<section>
				{% include 'components/form.njk' %}
		</section>
</main>