---
layout: default
meta_title: Markets
meta_description: Solarflux’s FOCUS concentrator offers a novel solution with significant performance and cost advantages over incumbent solar thermal solutions
body_class: markets
title: Markets
---

<main>
  <section class="article-hero">
		<h1>{{ title }}</h1>
		<img src="/images/markets/markets-hero.jpg" alt="FOCUS Concentrator Unit">
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-12 lg:mb-24 sm:px-6 lg:px-8">
    <h2 class="section-header">Market Overview</h2>
    <h4 class="max-w-5xl mb-4 text-lg font-semibold lg:text-2xl text-primaryOrange">Global energy consumption will grow nearly 50% from 2018 through 2050, according to the U.S. Energy Information Administration (EIA).</h4>
    <p class="mb-6 body-copy">While developed nations are expected to see further growth in energy consumption, the bulk of the increase is projected to come from emerging Asian nations, driven by rapid population growth, economic growth, and increased access to marketed energy. This outlook presents significant challenges for the global environment and climate, and for the most affected countries in particular, and significant opportunities for market participants with compelling energy solutions to offer.</p>
    <p class="mb-6 body-copy"><span class="italic font-semibold">Heat is the largest energy end-use worldwide, accounting for around half of total global energy consumption.</span> Just over half of the heat produced is consumed in industry – for example, for process heat, drying and industrial hot water uses. Most of the rest is used for space and water heating and cooking in the commercial and residential sectors, with the remainder in agriculture. Currently, only about one-tenth of heat is produced from renewables.</p>
    <p class="mb-6 body-copy">Solar thermal energy has the potential to play a significant role in meeting future energy demand in a sustainable way. Installed solar thermal heat capacity, including residential, commercial and municipal systems and solar heat for industrial processes, has expanded significantly in the last decade to exceed 480 gigawatts of thermal capacity (GWth) by the end of 2018, nearly as much as installed solar PV capacity.</p>
    <p class="mb-6 body-copy">Widely used solutions for solar heating include flat plate collectors, evacuated tube, and parabolic trough systems. These are proven technologies that have been long established in the market. However, there has also been limited innovation in the solar thermal energy market.</p>
    <small class="block text-xs">Source: Energy Information Administration (EIA), International Energy Agency (IEA).</small>
    {# <small class="block">1 <a href="https://www.eia.gov/todayinenergy/detail.php?id=41433">https://www.eia.gov/todayinenergy/detail.php?id=41433</a></small>
    <small class="block">2 <a href="https://www.iea.org/fuels-and-technologies/heating">https://www.iea.org/fuels-and-technologies/heating</a></small>
    <small class="block">3 <a href="https://www.iea-shc.org/Data/Sites/1/publications/Solar-Heat-Worldwide-2019.pdf">https://www.iea-shc.org/Data/Sites/1/publications/Solar-Heat-Worldwide-2019.pdf</a></small> #}

  </section>

  <section class="py-12 mb-12 bg-gray-100 lg:py-24 rounded-bg lg:mb-24">
    <div class="max-w-6xl px-6 mx-auto lg:px-8">
      <div>
        <svg class="w-12 mt-4 mb-4 lg:mt-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 57 56">
          <path fill="url(#paint0_linear)" d="M28.0356 0c-1.6576 0-3.2831.151612-4.8603.422921L.426489 22.9814C.152891 24.5454 0 26.1573 0 27.8011c0 .2793.016093.5506.0241399.8219L28.8645.0159597C28.5909.00798002 28.3173 0 28.0356 0z"/>
          <path fill="url(#paint1_linear)" d="M35.1971.918528C33.7406.535504 32.2439.272174 30.715.12854L.128418 30.4592c.144845 1.5241.410397 3.0084.796652 4.4447L35.1971.918528z"/>
          <path fill="url(#paint2_linear)" d="M46.029 6.47925L6.53442 45.6434c.8047.9496 1.66573 1.8433 2.58308 2.6812L48.7247 9.04072c-.8369-.90968-1.7382-1.76351-2.6957-2.56147z"/>
          <path fill="url(#paint3_linear)" d="M10.1633 49.2265c4.8524 3.9819 11.0807 6.3837 17.8723 6.3837 15.4824 0 28.0357-12.4482 28.0357-27.8011 0-6.7348-2.4141-12.9111-6.4376-17.7228L10.1633 49.2265z"/>
          <path fill="url(#paint4_linear)" d="M40.4684 2.87258c-1.207-.5905-2.4543-1.10119-3.7499-1.51613L1.37622 36.4031c.41844 1.2847.93345 2.5296 1.52893 3.7185L40.4684 2.87258z"/>
          <path fill="url(#paint5_linear)" d="M20.6568.973511C11.105 3.55094 3.58916 11.0119.98999 20.4758L20.6568.973511z"/>
          <path fill="url(#paint6_linear)" d="M44.9425 5.6178c-1.0139-.75806-2.0842-1.4523-3.1947-2.07471L3.58105 41.3906c.62767 1.1012 1.31971 2.1625 2.09222 3.1679L44.9425 5.6178z"/>
          <defs>
            <linearGradient id="paint0_linear" x1="-.00273597" x2="28.8652" y1="14.3096" y2="14.3096" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1=".127291" x2="35.1999" y1="17.5161" y2="17.5161" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="6.53636" x2="48.7298" y1="27.4006" y2="27.4006" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
            <linearGradient id="paint3_linear" x1="10.1646" x2="56.0758" y1="32.8423" y2="32.8423" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
            <linearGradient id="paint4_linear" x1="1.37188" x2="40.4646" y1="20.7421" y2="20.7421" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
            <linearGradient id="paint5_linear" x1=".985967" x2="20.6567" y1="10.7298" y2="10.7298" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
            <linearGradient id="paint6_linear" x1="3.57904" x2="44.9397" y1="24.0556" y2="24.0556" gradientUnits="userSpaceOnUse">
              <stop stop-color="#F7941D"/>
              <stop offset="1" stop-color="#F04923"/>
            </linearGradient>
          </defs>
        </svg>
        <p class="max-w-4xl text-2xl font-semibold leading-normal font-display text-primaryPurple">Solarflux’s FOCUS concentrator offers a novel solar thermal solution with significant performance and cost advantages over incumbent offerings, as well as fossil fuel based systems including natural gas, coal and diesel generation.</p>
      </div>
    </div>
  </section>

  <section class="max-w-6xl px-4 mx-auto mb-12 sm:px-6 lg:px-8 lg:mb-24">
    <h2 class="section-header">Key Applications</h2>
    <p class="body-copy">Solar thermal energy can be used for a wide variety of applications, including hot water, space heating and cooling, industrial process heat, electricity generation, water purification and desalination and remote power generation.</p>
    <div class="mt-12 lg:mt-24 lg:grid lg:grid-cols-12 lg:gap-20">
      <div class="self-center col-span-7">
        <h4 class="mb-4 text-lg font-semibold lg:text-2xl text-primaryOrange">Hot Water, Space Heating and Cooling</h4>
        <p class="max-w-xl">The FOCUS provides an easily deployable renewable energy source capable of providing hot water including boiler pre-heating, as well as thermally-driven space heating and cooling at low lifetime cost.</p>
      </div>
      <div class="col-span-5">
        <img src="/images/markets/hot-water.png" alt="Photo of Space Heating" class="mt-6 lg:mt-0">
      </div>
    </div>
    <div class="mt-12 lg:mt-24 lg:grid lg:grid-cols-12 lg:gap-20">
      <div class="self-center col-span-7">
        <h4 class="mb-4 text-lg font-semibold lg:text-2xl text-primaryOrange">Industrial Processes</h4>
        <p class="max-w-xl body-copy">Unique amongst solar thermal energy technologies, the FOCUS is capable of delivering heat in the range of 50ºC up to 600ºC, depending on the heat transfer fluid used. This wide temperature range makes it suitable to provide thermal energy to a variety of commercial and industrial processes, including cooking, pressurization, sterilization, bleaching, distillation, concentrating, drying, kilning, as well as chemical or other high temperature processes.</p>
      </div>
      <div class="col-span-5">
        <img src="/images/markets/industrial.jpg" alt="Photo of Space Heating" class="mt-6 lg:mt-0">
      </div>
    </div>
    <div class="mt-12 lg:mt-24 lg:grid lg:grid-cols-12 lg:gap-20">
      <div class="self-center col-span-7">
        <h4 class="mb-4 text-lg font-semibold lg:text-2xl text-primaryOrange">Electricity Generation</h4>
        <p class="max-w-xl body-copy">Paired with a microturbine, the FOCUS can reliably produce electricity. Coupled with low cost thermal storage, electricity can be delivered outside of daylight hours to meet local user requirements.</p>
      </div>
      <div class="col-span-5">
        <img src="/images/markets/electricity.jpg" alt="Photo of Space Heating" class="mt-6 lg:mt-0">
      </div>
    </div>
    <div class="mt-12 lg:mt-24 lg:grid lg:grid-cols-12 lg:gap-20">
      <div class="self-center col-span-7">
        <h4 class="mb-4 text-lg font-semibold lg:text-2xl text-primaryOrange">Water Purification and Desalination</h4>
        <p class="max-w-xl body-copy">By providing an abundance of low cost thermal energy, the FOCUS is capable of powering energy efficient, thermally-driven water treatment processes to purify large volumes of polluted or brackish, briny water.</p>
      </div>
      <div class="col-span-5">
        <img src="/images/markets/water-purification.jpg" alt="Photo of Space Heating" class="mt-6 lg:mt-0">
      </div>
    </div>
    <div class="mt-12 lg:mt-24 lg:grid lg:grid-cols-12 lg:gap-20">
      <div class="self-center col-span-7">
        <h4 class="mb-4 text-lg font-semibold lg:text-2xl text-primaryOrange">Remote Power Generation</h4>
        <p class="max-w-xl body-copy">The FOCUS has been designed from inception to operate with no external inputs and minimal maintenance, requiring only direct sunlight to produce power. As a result the FOCUS is very well-suited for power generation in remote settings, including islands, forward operating bases, refugee camps, and remote villages and sites.</p>
      </div>
      <div class="col-span-5">
        <img src="/images/markets/remote-power-generation.jpg" alt="Photo of Space Heating" class="mt-6 lg:mt-0">
      </div>
    </div>
  </section>

  {% include 'components/primary-cta.njk' %}

</main>
