---
layout: default
meta_title: Product
meta_description: Contact page description
body_class: contact
title: Markets
---

<main>
  <section class="mb-32 article-hero">
		<h1>{{ title }}</h1>
		<img src="/images/markets/markets-hero.jpg" alt="Focus 250 Concentrator Unit">
  </section>

  {% include 'components/primary-cta.njk' %}

</main>