---
layout: default
permalink: thank-you.html
hidden: true
meta_title: Thank You
meta_description: Thank You | Solarflux
body_class: 404
title: Thank you!
---

<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

  <section class="max-w-6xl px-4 sm:px-6 lg:px-8">

        <header>
            <h1 class="section-header">{{ title }}</h1>
        </header>

        <div class="content">
            <p class="mb-2">Thank you for filling out our contact form, we will be in touch shortly.</p>
            <p><a href="/">Take me back to the homepage</a></p>
        </div>

</section>

</main>
