---
layout: default
---

{# a post layout #}
<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="flex-1 column centre">

        <div class="mb-12 md:mb-20">

            <header>
                <h1 class="text-3xl page-title md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
            </header>

            <div class="flex justify-center text-sm text-gray-600 md:text-base">

                {# <p class="author">By {{ site.author.name }}</p> #}

                <p class="px-2">—</p>

                <time datetime="{{ date }}">
                    {{ date | dateDisplay }}
                </time>

            </div>

            {# featured post image #}
            {% if featured_image %}

                <figure class="mt-10 md:mt-20">

                    <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">

                    {% if image_caption %}

                        <figcaption class="mt-4 text-sm italic text-center text-gray-600">{{ image_caption }}</figcaption>

                    {% endif %}

                </figure>

            {% endif %}

        </div>

        <div class="content post md:px-16">

            {{ content | safe }}

        </div>

        <div class="mt-16 md:px-16">

            <div class="flex justify-between pt-12 mt-16 border-t border-gray-200">
                {% if prevPost %}<p class="text-sm text-gray-700"><span>Previous:</span> <a href="{{ prevPost.url }}">{{ prevPost.data.title }}</a></p>{% endif %}
                {% if nextPost %}<p class="text-sm text-gray-700"><span>Next:</span> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
            </div>
        </div>

    </article>

</main>
