---
layout: default
---

{# a post layout #}
<main id="main" class="flex flex-col flex-1 py-10 main inner lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="flex-1 column centre">

        <div class="mb-12 md:mb-20">

            <header>
                <h1 class="text-3xl page-title md:text-center md:text-5xl lg:text-6xl">{{ title }}</h1>
            </header>

            <div class="flex justify-center text-sm text-gray-600 md:text-base">

                {# <p class="author">By {{ site.author.name }}</p> #}

                <p class="px-2">—</p>

                <time datetime="{{ date }}">
                    {{ date | dateDisplay }}
                </time>

            </div>

            {# featured post image #}
            {% if featured_image %}

                <figure class="mt-10 md:mt-20">

                    <img data-lazy="{{ featured_image }}" alt="{{ image_caption }}">

                    {% if image_caption %}

                        <figcaption class="mt-4 text-sm italic text-center text-gray-600">{{ image_caption }}</figcaption>

                    {% endif %}

                </figure>

            {% endif %}

        </div>

        <div class="content post md:px-16">

            {{ content | safe }}

        </div>

        <div>
        {{this}}
            <a href="http://twitter.com/share?url={{ site.url | encodeUri }}{{ page.url }}&text={{ title | encodeUri }}&via={{ site.twitterAccount }}" target="_blank">Share on Twitter</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/sharing/share-offsite/?mini=true&url={{ site.url | encodeUri }}{{ page.url | encodeUri }}&title={{ title | encodeUri }}&summary={{ title | encodeUri }}&source=SolarFlux" target="_blank">Share on LinkedIn</a>
        </div>

    </article>

</main>
