#getCoordsButton {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #d2d6dc;
    text-decoration: none;
    --bg-opacity: 1;
    margin-left: 12px;
    margin-top: 0.25rem;
    background-color: rgba(22, 19, 76, var(--bg-opacity));
    border-radius: 0.375rem;
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    line-height: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --text-opacity: 1;
    color: rgba(255, 255, 255, var(--text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow,
        transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    width: 20%;
}

#efficiency {
    white-space: nowrap;
    font-size: 1.75rem;
}

.coordWarning {
    color: red;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}

td {
    min-width: 25%;
    margin: 100px;
    text-align: center;
}

#latitude,
#longitude,
#location,
#avgDNI {
    border-top: solid black 1px;
    width: 16.66667%;
}

.notesFooter {
    margin: 2%;
}

#chart table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
#chart table,
#chart th,
#chart td {
    text-align: right;
    border: 1px solid black;
    padding: 3px;
}
#chart thead {
    background-color: #1c87c9;
}
#chart th {
    text-align: center;
    height: 50px;
}
#chart table tr:nth-child(odd) {
    background: #ffffff;
}
#chart table tr:nth-child(even) {
    background: #dddddd;
}

.notes li {
    margin-top: 20px;
    font-size: 12px;
}
