.container {
    /* background-color: #dddddd;*/
    overflow: hidden;
    padding: 2%;
    font-family: Montserrat, sans-serif;
    width: 1100px;
}

.titleBar {
    color: #0a074a;
}
img {
    display: inline;
    float: left;
    width: 18%;
    margin-right: 1%;
}

.heading {
    background-color: #333333;
    color: white;
}

.coordWarning {
    color: red;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}

/*.efficiencyBox{*/
td {
    min-width: 25%;
    margin: 100px;
    text-align: center;
}

#latitude,
#longitude,
#location,
#avgDNI {
    border-top: solid black 1px;
}

#efficiency {
    border-left: solid black 1px;
}

#chart table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
#chart table,
#chart th,
#chart td {
    text-align: right;
    border: 1px solid black;
    padding: 3px;
}
#chart thead {
    background-color: #1c87c9;
}
#chart th {
    text-align: center;
    height: 50px;
}
#chart table tr:nth-child(odd) {
    background: #ffffff;
}
#chart table tr:nth-child(even) {
    background: #dddddd;
}
